@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}
.content{
    background-color: aliceblue;
    border-radius: 15px;
    width: 960px;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before
{
    content: "";
    position: absolute;
    background-color: rgb(46, 250, 182);
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 60%;
}
.title
{
    color: rgb(241, 198, 141);
    font-size: 28px;
    font-weight:bold;
    text-transform:capitalize;
}
.title-primary{
    color: #fff;
}
.title-second{
    color: green;
}
.first-content
{
    display: flex;
    display: none;
}
.first-column
{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column
{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-social
{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #7f8c8d;
}
.link-social-midia
{
    margin-left: 10px;
}
.link-social-midia:hover .item-social-media{
    background-color: blue;
    color: #fff;
    border-color: #070707;
}
.item-social-media a
{
    color: #95a5a6;
}
.form
{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input
{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
}
.description
{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary
{
    color:#fff;
}
.description-second
{
    color:#7f8c8d;
}
.second-content
{
    position: absolute;
    display: flex;
}
.second-content .first-column{
    order: 2;
}
.second-content .second-column{
    order: 1;
}
.btn
{
    border-radius: 15px;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;

}
.btn-primary
{
    background-color: transparent;
    border: 1px solid #fff;
}
.content .btn-primary:hover{
    background-color: #fff;
    color: #58af9b;
}
.btn-second
{
    background-color: #58af9b;
    border: 1px solid #58af9b;
}
.btn-second:hover
{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.label-input
{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 1px;
}
.icon-modify
{
    color: #7f8c8d;
    padding: 0 5px;
}
.password{
    margin: 15px 0;
    font-size: 14px;
}